In [5]:
import pandas as pd
parquet_url = "https://github.com/joaog21/EDSB24H_predict_bank_campaign/raw/refs/heads/main/Datasets/parquet/bank_feature_selection.parquet"
train = pd.read_parquet(parquet_url, engine='pyarrow') 
train[train['y']==1].head(1).transpose()

                           83
Week_Day_Fri        -0.495132
Week_Day_Sat        -0.515622
Week_Day_Thu         2.131710
campaign            -0.581121
contact_cellular    -1.355807
day                 -1.298831
duration             3.168070
education_secondary  0.972369
education_tertiary  -0.644550
housing              0.892894
job_blue-collar     -0.524109
loan                -0.437129
marital_single      -0.628309
month_apr           -0.263486
month_aug           -0.400331
month_jul           -0.424579
month_mar           -0.102980
month_may            1.509525
month_nov           -0.310147
month_oct           -0.127993
poutcome_success    -0.185161
previous            -0.332304
age                  1.710535
Week_Day_Wed        -0.313922
y                    1.000000